
.page-header {
    background-color: rgb(15, 12, 12);
    height: 400px;
    background-image: url("/images/earth-1756274_1280.jpg");
    background-repeat: no-repeat;
    background-position-x: center;
    background-size: cover;    
}

.partners {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 3%;
}

.logo{
    width: 100%; 
    max-width: 140px; 
    height: auto;
}

.contact {
    margin-left: 20%;
    margin-right: 20%;
}

.contact-message {
    height: 100%;
}